@import "tailwindcss";


@layer theme {
  :root {
    --font-bitcount-grid-double: 'Bitcount Grid Double', sans-serif;
  }
}

@layer utilities {
  .font-bitcount-grid-double {
    font-family: 'Bitcount Grid Double', sans-serif;
  }
}

@layer base {
  button {
    @apply hover:cursor-progress;
  }
}

@layer components {
    .btn-primary {
        @apply bg-red-500 text-white rounded-3xl p-2 pl-4 pr-4 mt-5 hover:bg-red-600 transition duration-300;
}
}